<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASTRO_Camp 0320 RUBY 作業</title>
  <style>
  *{
    margin: 0;
    padding: 0;
  }
.header{
  background-color: #faa;
  color: #f00;
  text-align: center;
}
.footer{
  background-color: #aaf;
  color: #00f;
  text-align: center;
}
header{
  /* margin-bottom:50px; */

}
footer{
  /* margin-top:50px; */

}


  </style>
</head>

<body>
  <header>
  <div class="header">ASTRO_Camp 0320 RUBY 作業</div>
  </header>
  <%= yield%>
  <footer>
  <div class="footer">ASTRO_Camp 0320 RUBY 作業</div>
  </footer>
</body>
</html>